# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
#code studio
*.vscode
# macos
.DS_Store
# windows
Thumbs.db
# linux
*.swp
# python
__pycache__

.vscode
*.obj
*.o
ircserv

# Executables
*.exe
*.out
*.app